body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    font-size: 75px;
}
 
form{
    text-align: center;
}

input[type="file"] {
    width: 15em;  
    height: 4em;
    font-size: 30px;
}

input[type=submit] {
    width: 15em;  
    height: 3em;
    font-size: 30px;
}

p{
    font-size: 30px;
}