<!DOCTYPE html>
<html>
<head> 
    <title>Test</title> 
    <style>
         body{
		background-color: white;
		color: black;
        }
        h1{
        text-align: center;
        font-size: 75px;
        }
        p{
            text-align: center;
            align-items: center;
        }
        button{
            width: 15em;  
            height: 4em;
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1> Hybrid Crypto!! </h1><br>
    <p>    
        <a href="/encrypt/" target="blank"><button class='btn btn-default'>Encrypt!</button></a>
        <a href="/decrypt/" target="blank"><button class='btn btn-default'>Decrypt!</button></a>
    </p>
</body>
</html>