<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
    <style>
        body{
       background-color: white;
       color: black;
       }
       h1{
       text-align: center;
       font-size: 50px;
       }
       p{
           text-align: center;
           align-items: center;
       }
       button{
           width: 15em;  
           height: 4em;
           font-size: 25px;
       }
   </style> 
</head>
<body> 
    <h1> Thank You For Using Our Service!!!<br> Your File Is Processed Successfully: </h1> 
    <p>
        <a href="/return-files-data/" target="blank">
            <button class='btn btn-default'>Download File!</button>
        </a> 
    </p>
</body>
</html>
